.text-description {
	width: 40%; 
	float: left;
	/*height: 1	00px;*/
	font-size: 18px;
	height: 350px;
}

.work-image {
	width: 60%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	padding-left: 20px;
	float:right;
	height: 350px;
	display: inline-block;
	text-align: center;
}

.testbox { width: 100px; background-color: red;}

.work-image img {
	height: 100%;
}
.work-image img:hover {
	cursor: crosshair;
}

.images-and-descriptions {
	margin-top: 50px;
}
.zoomContainer {
	display: inline-block;
}

.image-ribbon {
	width: 100%;
	overflow: auto;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
	margin-top: 25px;
	margin-bottom: 25px;
}

.ribbon-description { display: none;}
.ribbon-work { 
	display: inline-block; 
	margin-right: 10px; 
	padding: 10px 0;
	height: 130px;
}
.ribbon-work img { vertical-align: top;}

.selected {
	border-top: 5px solid rgba(0,0,0,0.6);
}

@media (max-width: 768px) {
	.images-and-descriptions { display: none;}
	.ribbon-work { display: block; height: auto;}
	.selected { display: none;}
	.image-ribbon img { clear: both; width: 50%; margin: 10px 25%;}
	.image-ribbon {
		width: 100%;
		height: auto;
		overflow-x: none;
	    overflow-y: none;
	    white-space: nowrap;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.ribbon-description { display: block; }
}