.text-description {
	width: 40%; 
	float: left;
	/*height: 1	00px;*/
	font-size: 18px;
	height: 350px;
	overflow-y: auto;
	padding-right: 10px;
}

.bottom-white {
	display:none;
	height: 100px;
	width: 415px;
	position: relative;
	bottom: 100px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(255, 255, 255, 0.0)),
		color-stop(1, #efefef)
	);
}


.work-image {
	width: 60%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	padding-left: 20px;
	float:right;
	height: 350px;
	display: inline-block;
	text-align: center;
}

.work-image img {
	height: 100%;
}
.work-image img:hover {
	cursor: crosshair;
}

.images-and-descriptions {
	margin-top: 50px;
}
.zoomContainer {
	display: inline-block;
}

.image-ribbon {
	width: 100%;
	overflow: auto;
	overflow-x: scroll;
    white-space: nowrap;
	margin-top: 25px;
	margin-bottom: 25px;
}

.ribbon-description { display: none;}
.ribbon-work { 
	display: inline-block; 
	margin-right: 10px; 
	padding: 10px 0;
	height: 120px;
}
.ribbon-work img { vertical-align: top;}

.selected {
	border-top: 5px solid rgba(0,0,0,0.6);
}

@media (min-width: 768px) and (max-width: 1024px) {
	.work-image { width: 75%; } 
	.text-description { width: 25%;}
	/*.work-image img { max-width: 100%; height: auto; max-height: 350px;}*/
}

@media (max-width: 767px) {
	.images-and-descriptions { display: none;}
	.ribbon-work { display: block; height: auto;}
	.selected { border: 0px;}
	.image-ribbon img { clear: both; margin: 10px 0;}
	.image-ribbon {
		width: 100%;
		height: auto;
		overflow-x: none;
	    overflow-y: none;
	    white-space: nowrap;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.ribbon-description { display: block; white-space: normal; }
}