.navbar {
	border-radius: 0;
	background-color: black;
	border: 0;
	color: white;
}
.navbar-header {
	border-bottom-color: #efefef;
}
.dropdown-toggle {
	background-color: black;
}
.dropdown-toggle { 
	color: black;
}
.dropdown-menu li a:hover {
	color: #5e5e5e;
}

/* BOOTSTRAP OVERRIDES COPIED FROM WEB INSPECTOR*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #efefef;
	border-color: #efefef;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
	background-color: black;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #efefef;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #efefef;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #efefef;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #efefef;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #efefef;
	}
	.dropdown-menu > li > a {white-space: normal;}

}
