.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

*, *:before, *:after {
  font-family:'Alegreya Sans', Arial, sans-serif;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body { margin: 0; padding: 0; background-color: #f9f9f9;}
.modal-dialog { width: 85% !important; max-width: 85% !important;}
.modal-content { background-color: #efefef;}