body {
	background-image: url('./Images/garcia.jpg');
	background-size: cover;
}

.info-boxes { list-style-type: none;}
li { float: left;}

.info-box, .info-text { 
	width: 200px;
	background-color: rgba(0,0,0,0.5);
	color: #DDD;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Arial;
}

.info-box { 
	height: 50px; 
	margin-right: 100px;
	color: #999;
	font-size: 24px;
	display: table;
}

.info-box span { 
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.info-text {
	display: none;
	height: 200px;
	overflow: auto;
	margin-top: 10px;
	padding: 10px 10px 0 10px;
}