Styles added by Roneesh Vashisht*/


.gallery-hover-3col { height: 42px; z-index: 9999;}
.gallery-icons { width: 42px; left: 0;}

@media (max-width: 1199px) and (min-width: 768px) {
	li.span4 .project-details { 
		white-space: normal;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.gallery-icons { left: 0;}
}
